body { font-family: Consolas, Courier, monospace; }
h3{color: forestgreen;}
i{color: brown;}
.ml2 {
  font-weight: 900;
  font-size: 3.0em;
  color: antiquewhite;
 text-align: center;
}
.ml2 .letter {
  display: inline-block;
  line-height: 1em;
}
.header{background-color: coral;}

